/*--------------- fonts start ---------------*/
@font-face {
  font-family: 'Oswald';
  src: url("assets/fonts/Oswald-Medium.ttf");
  font-weight: 500;
}
/*--------------- fonts end ---------------*/

/*--------------- common start ---------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #FFF500;
}

html,
body {
  overflow-x: hidden;
  position: relative;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Oswald';
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  color: white;
  background-color: black;
}

@media (max-width: 520px) {
  body {
    font-size: 20px;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.hidden {
  display: none !important;
}
/*--------------- common end ---------------*/

/*--------------- header start ---------------*/
.header__container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 920px) {
  .header__container {
    position: relative;
  }
}

.logo {
  width: 70px;
  height: 50px;
  background-image: url('./assets/svg/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(25%) sepia(77%) saturate(804%) hue-rotate(2deg) brightness(106%) contrast(107%);
  transition: .3s;
}

.logo:hover {
  filter: none;
}

@media (max-width: 920px) {
  .nav {
    position: absolute;
    top: 0;
    right: -81%;
    z-index: 1;
    width: 81%;
    height: 100vh;
    background-color: black;
    transition: all .5s;
  }

  .nav.nav--show {
    right: 0;
  }
}

@media (max-width: 920px) {
  .nav {
    width: 100%;
    right: -100%;
  }
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

@media (max-width: 920px) {
  .nav__list {
    flex-direction: column;
    padding: 7%;
    padding-top: 50px;
  }
}

.nav__link {
  padding: 0 20px;
  text-transform: uppercase;
  color: var(--main-color);
  text-decoration: none;
  transition: .5s;
}

.nav__link:hover {
  color: white;
}

@media (max-width: 920px) {
  .nav__link {
    font-size: 35px;
    line-height: 90px;
  }
}

.hamburger {
  display: none;
}

@media (max-width: 920px) {
  .hamburger {
    display: block;
    z-index: 2;
  }
}

.hamburger__line {
  width: 50px;
  height: 3px;
  background-color: var(--main-color);
  display: block;
  margin: 10px auto;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger:hover .hamburger__line {
  background-color: white;
}

.hamburger--active {
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transition-delay: .6s;
  -o-transition-delay: .6s;
  transition-delay: .6s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger--active .hamburger__line {
  background-color: white;
}

.hamburger--active .hamburger__line:nth-child(2) {
  width: 0;
}

.hamburger--active .hamburger__line:nth-child(1),
.hamburger--active .hamburger__line:nth-child(3) {
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
}

.hamburger--active .hamburger__line:nth-child(1) {
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

.hamburger--active .hamburger__line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}
/*--------------- header end ---------------*/

/*--------------- main start ---------------*/
.main {
  background: url("./assets/img/nightingale-bg.jpg") no-repeat center;
  background-size: cover;
}

.main__container {
  height: calc(100vh - 160px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bird {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 35px;
}

@media (max-width: 920px) {
  .bird {
    flex-direction: column-reverse;
  }
}

.bird__img {
  width: 100%;
  max-width: 350px;
  height: auto;
  border: 10px solid var(--main-color);
}

@media (max-height: 650px) {
  .bird__img {
    max-width: 190px;
  }
}

.bird__inner {
  width: 400px;
  text-align: center;
}

@media (max-width: 520px) {
  .bird__inner {
    width: 100%;
  }
}

.bird__caption {
  margin-bottom: 35px;
  font-size: 70px;
  line-height: 80px;
  text-transform: uppercase;
  color: var(--main-color);
}

@media (max-width: 920px) {
  .bird__caption {
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 60px;
  }
}

.bird__play-button,
.bird__pause-button {
  width: 120px;
  height: 120px;
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  filter: invert(25%) sepia(77%) saturate(804%) hue-rotate(2deg) brightness(106%) contrast(107%);
  transition: .3s;
}

@media (max-width: 920px) {
  .bird__play-button,
  .bird__pause-button {
    margin-bottom: 10px;
    width: 85px;
    height: 85px;
  }
}

@media (max-width: 520px) {
  .bird__play-button,
  .bird__pause-button {
    margin-bottom: 20px;
  }
}

.bird__play-button:hover,
.bird__pause-button:hover {
  filter: none;
  cursor: pointer;
}

.bird__play-button {
  background-image: url(./assets/svg/play.svg);
}

.bird__pause-button {
  background-image: url(./assets/svg/pause.svg);
}
/*--------------- main end ---------------*/

/*--------------- footer start ---------------*/
.footer__container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  color: var(--main-color);
}

@media (max-width: 520px) {
  .footer__info {
    column-gap: 10px;
  }
}

.footer__link {
  color: var(--main-color);
  text-transform: uppercase;
  text-decoration: none;
  transition: .5s;
}

.footer__link:hover {
  color: white;
}

.footer__rss-logo {
  width: 120px;
  height: 45px;
  background-image: url('./assets/svg/rss.svg');
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(25%) sepia(77%) saturate(804%) hue-rotate(2deg) brightness(106%) contrast(107%);
  transition: .3s;
}

@media (max-width: 360px) {
  .footer__rss-logo {
    width: 80px;
    height: 30px;
  }
}

.footer__rss-logo:hover {
  filter: none;
}
/*--------------- footer end ---------------*/

/*--------------- ytya start ---------------*/
.ytya--link {
  height: 60px;
}

.ytya--link:hover {
  cursor: pointer;
}

.ytya {
  width: 235px;
  align-self: flex-end;
  transform: translate(35px, -35px);
}
/*--------------- ytya end ---------------*/
