/*--------------- fonts start ---------------*/
@font-face {
  font-family: 'Oswald';
  src: url("assets/fonts/Oswald-Medium.ttf");
  font-weight: 500;
}
/*--------------- fonts end ---------------*/

/*--------------- common start ---------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #FFF500;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Oswald';
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  color: white;
  background-color: black;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
/*--------------- common end ---------------*/

/*--------------- header start ---------------*/
.header__container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 70px;
  height: 50px;
  background-image: url('./assets/svg/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(25%) sepia(77%) saturate(804%) hue-rotate(2deg) brightness(106%) contrast(107%);
  transition: .3s;
}

.logo:hover {
  filter: none;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav__link {
  padding: 0 20px;
  text-transform: uppercase;
  color: var(--main-color);
  text-decoration: none;
  transition: .5s;
}

.nav__link:hover {
  color: white;
}
/*--------------- header end ---------------*/

/*--------------- main start ---------------*/
.main {
  background: url("./assets/img/nightingale-bg.jpg") no-repeat center;
  background-size: cover;
}

.main__container {
  height: calc(100vh - 160px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bird {
  display: flex;
  justify-content: space-between;
  column-gap: 35px;
}

.bird__img {
  max-width: 400px;
  border: 10px solid var(--main-color);
}

.bird__inner {
  text-align: center;
}

.bird__caption {
  margin-bottom: 35px;
  font-size: 70px;
  line-height: 80px;
  text-transform: uppercase;
}

.bird__play-button {
  width: 120px;
  height: 120px;
  background-image: url(./assets/svg/play.svg);
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  filter: invert(25%) sepia(77%) saturate(804%) hue-rotate(2deg) brightness(106%) contrast(107%);
  transition: .3s;
}

.bird__play-button:hover {
  filter: none;
  cursor: pointer;
}
/*--------------- main end ---------------*/

/*--------------- footer start ---------------*/
.footer__container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  color: var(--main-color);
}

.footer__link {
  color: var(--main-color);
  text-transform: uppercase;
  text-decoration: none;
  transition: .5s;
}

.footer__link:hover {
  color: white;
}

.footer__rss-logo {
  width: 120px;
  height: 45px;
  background-image: url('./assets/svg/rss.svg');
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert(25%) sepia(77%) saturate(804%) hue-rotate(2deg) brightness(106%) contrast(107%);
  transition: .3s;
}

.footer__rss-logo:hover {
  filter: none;
}
/*--------------- footer end ---------------*/